<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Student Login</h1>
          <strong>Login Any Times</strong>
          <hr />

          <form>
            <div class="mb-3">
              <label for="InputEmail" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail"
                placeholder="Enter Email Address"
              />
            </div>
            <div class="mb-3">
              <label for="InputPassword" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="InputPassword"
                placeholder="Enter Password"
              />
            </div>
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
          <a routerLink="/signup" style="color: #fff; margin-top: 350px"
            >New User? Click to signUp
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
