<!-- NavBar -->
<nav class="navbar navbar-light bg-dark">
  <div class="container">
    <h2 class="text-light primary">Student Management System</h2>
    <div class="d-flex">
      <button
        (click)="add()"
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#Modal"
      >
        Add student</button
      >&nbsp;&nbsp;
      <button routerLink="/login" class="btn btn-warning">LogOut</button>
    </div>
  </div>
</nav>

<div class="container">
  <!-- Data table -->
  <table class="table table-striped mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile</th>
        <th scope="col">City</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of allstudentdata">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.mobile }}</td>
        <td>{{ data.city }}</td>
        <td>
          <button
            (click)="edit(data)"
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#Modal"
          >
            Edit</button
          >&nbsp;
          <button (click)="deletestud(data)" class="btn btn-danger">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal -->
  <div
    class="modal fade"
    id="Modal"
    tabindex="-1"
    aria-labelledby="ModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background: salmon">
          <h5 class="modal-title" id="ModalLabel" style="color: #fff">
            Student Management System
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <!-- Modal-body -->
        <div class="modal-body">
          <form [formGroup]="formValue">
            <div class="mb-3">
              <label for="inputName" class="form-label"
                >Student Full Name</label
              >
              <input
                formControlName="name"
                type="name"
                class="form-control"
                id="inputName"
              />
              <small
                *ngIf="
                  formValue.get('name')?.invalid &&
                  formValue.get('name')?.touched
                "
                class="text-danger"
                >Student name is required</small
              >
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Student Email</label>
              <input
                formControlName="email"
                type="email"
                class="form-control"
                id="inputEmail"
              />
              <small
                *ngIf="
                  formValue.get('email')?.invalid &&
                  formValue.get('email')?.touched
                "
                class="text-danger"
                >Student email is required</small
              >
            </div>
            <div class="mb-3">
              <label for="inputPhoneNumber" class="form-label"
                >Student Mobile Number</label
              >
              <input
                formControlName="mobile"
                type="number"
                class="form-control"
                id="inputPhoneNumber"
              />
              <small
                *ngIf="
                  formValue.get('mobile')?.invalid &&
                  formValue.get('mobile')?.touched
                "
                class="text-danger"
                >Student mobile number is required</small
              >
            </div>
            <div class="mb-3">
              <label for="inputCity" class="form-label">Student City</label>
              <input
                formControlName="city"
                type="text"
                class="form-control"
                id="inputCity"
              />
              <small
                *ngIf="
                  formValue.get('city')?.invalid &&
                  formValue.get('city')?.touched
                "
                class="text-danger"
                >Student city is required</small
              >
            </div>
          </form>
        </div>
        <div class="modal-footer" style="background: salmon">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
            Close
          </button>
          <button
            *ngIf="showAdd"
            (click)="addstudent()"
            [disabled]="formValue.invalid"
            type="button"
            class="btn btn-success"
          >
            Add student
          </button>
          <button
            *ngIf="showUpdate"
            (click)="update()"
            [disabled]="formValue.invalid"
            type="button"
            class="btn btn-success"
          >
            Update student
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
